<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="SimpleIdentityServerInstaller" Language="1033" Version="1.0.0.0" Manufacturer="Thierry Habart" UpgradeCode="be366706-4993-48cb-bcee-fe1fd43eaa00">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" />
		<MediaTemplate EmbedCab="yes" />
		<Feature Id="ProductFeature" Title="SimpleIdentityServerInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
    <Property Id="PROVIDER_TYPE" Value="SimpleIdentityServer" />
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)"/>
    <UIRef Id="WixUI_SimpleIdentityServer" />
    <!-- Conditions -->
    <Condition Message="Only administrator is allowed to install the application.">
      <![CDATA[Privileged]]>
    </Condition>
    <!-- Properties -->
    <Property Id="MSIUSEREALADMINDETECTION" Value="1" />
    <!-- Binaries -->
    <Binary Id="CustomActions"
            src="..\SimpleIdentityServerInstaller.CustomActions\bin\$(var.Configuration)\SimpleIdentityServerInstaller.CustomActions.CA.dll" />
    <!-- Custom actions -->
    <CustomAction Id="UpdateSimpleIdentityServerConnectionStrings"
                  Return="check"
                  Execute="immediate"
                  BinaryKey="CustomActions"                  
                  DllEntry="UpdateSimpleIdentityServerConnectionStrings" />
    <CustomAction Id="UpdateUmaConnectionStrings"
                  Return="check"
                  Execute="immediate"
                  BinaryKey="CustomActions"
                  DllEntry="UpdateUmaConnectionStrings" />
    <CustomAction Id="UpdateConfigurationConnectionStrings"
                  Return="check"
                  Execute="immediate"
                  BinaryKey="CustomActions"
                  DllEntry="UpdateConfigurationConnectionStrings" />
    <CustomAction Id="UpdateIdServerConnectionStrings"
                  Return="check"
                  Execute="immediate"
                  BinaryKey="CustomActions"
                  DllEntry="UpdateIdServerConnectionStrings" />
    <CustomAction Id="TestSimpleIdentityServerConnection"
                  Return="check"
                  Execute="immediate"
                  BinaryKey="CustomActions"
                  DllEntry="TestSimpleIdentityServerConnection" />
    <CustomAction Id="TestUmaConnection"
              Return="check"
              Execute="immediate"
              BinaryKey="CustomActions"
              DllEntry="TestUmaConnection" />
    <CustomAction Id="TestConfigurationConnection"
          Return="check"
          Execute="immediate"
          BinaryKey="CustomActions"
          DllEntry="TestConfigurationConnection" />
    <CustomAction Id="TestIdServerConnection"
          Return="check"
          Execute="immediate"
          BinaryKey="CustomActions"
          DllEntry="TestIdServerConnection" />                  
	</Product>
  
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="ApplicationShortcutDesktop" Guid="83c79aac-9080-4031-9a73-17590e22347f">
          <Shortcut Id="ApplicationDesktopShortcut"
              Name="Launch SimpleIdentityServer"
              Description="Launch SimpleIdentityServer"
              Target="[INSTALLFOLDER]Launch-SimpleIdentityServer.cmd"
              WorkingDirectory="INSTALLFOLDER" />
          <Shortcut Id="ApplicationIdServerDesktopShortcut"
              Name="Launch IdentityServer"
              Description="Launch IdentityServer"
              Target="[INSTALLFOLDER]Launch-IdServer.cmd"
              WorkingDirectory="INSTALLFOLDER" />
          <RemoveFolder Id="DesktopFolder" On="uninstall"/>
          <RegistryValue
              Root="HKCU"
              Key="Software/SimpleIdentityServer"
              Name="installed"
              Type="integer"
              Value="1"
              KeyPath="yes"/>
          <Environment Id="IDSERVER" Name="IDSERVER" Value="[INSTALLFOLDER]" Permanent="no" Part="all" Action="set" System="no" />
        </Component>
      </Directory>
			<Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="SimpleIdentityServer">
          <Directory Id="SIMPLEIDENTITYSERVER_INSTALLFOLDER" Name="SimpleIdentityServer" />
        </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <ComponentGroupRef Id="HeatGenerated"/>
      <ComponentRef Id="ApplicationShortcutDesktop"/>
		</ComponentGroup>
    <InstallExecuteSequence>
      <Custom Action="UpdateSimpleIdentityServerConnectionStrings" After="InstallFinalize">NOT Installed</Custom>
      <Custom Action="UpdateUmaConnectionStrings" After="UpdateSimpleIdentityServerConnectionStrings">NOT Installed</Custom>
      <Custom Action="UpdateConfigurationConnectionStrings" After="UpdateUmaConnectionStrings">NOT Installed</Custom>
      <Custom Action="UpdateIdServerConnectionStrings" After="UpdateConfigurationConnectionStrings">NOT Installed</Custom>
    </InstallExecuteSequence>
	</Fragment>
</Wix>
