<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="SimpleIdentityServerInstaller" Language="1033" Version="1.0.0.0" Manufacturer="Thierry Habart" UpgradeCode="be366706-4993-48cb-bcee-fe1fd43eaa00">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
		<MediaTemplate EmbedCab="yes" />
		<Feature Id="ProductFeature" Title="SimpleIdentityServerInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
    <Property Id="PROVIDER_TYPE" Value="SimpleIdentityServer" />
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)"/>
    <UIRef Id="WixUI_SimpleIdentityServer" />
    <!-- Check dotnet core -->
    <!--
    <Property Id="DOTNETCOREVERSION">
      <RegistrySearch Id="DotnetCoreVersion"
                 Root="HKLM"
                 Key="SOFTWARE\dotnet\Setup"
                 Type="raw"
                 Name="Version" />
    </Property>
    <Condition Message="!(loc.DotnetCoreIsRequired)">
      <![CDATA[DOTNETCOREVERSION]]>
    </Condition>
    -->
    <!-- Properties -->
    <Property Id="DATABASE_SERVER" />
    <Property Id="DATABASE_LOGIN" />
    <Property Id="DATABASE_PASSWORD" />
    <Property Id="DATABASE_CATALOG" />
    <Property Id="DATABASE_WINDOWSAUTHENTICATION" Secure="yes" />
    <Property Id="DATABASE_CONNECTION_CORRECT" Value="0" />
    <Property Id="DATABASE_CONNECTIONSTRING" />
    <!-- Binaries -->
    <Binary Id="CustomActions"
            src="..\SimpleIdentityServerInstaller.CustomActions\bin\$(var.Configuration)\SimpleIdentityServerInstaller.CustomActions.CA.dll" />
    <!-- Custom actions -->
    <CustomAction Id="SetForUpdateAppSettings"
                  Return="check"
                  Property="PARAMETERS"
                  Value="install=[INSTALLFOLDER];connectionString=[DATABASE_CONNECTIONSTRING]" />
    <CustomAction Id="UpdateAppSettings"
                  Return="check"
                  Execute="immediate"
                  BinaryKey="CustomActions"                  
                  DllEntry="UpdateAppSettings" />
    <CustomAction Id="TestConnection"
                  Return="check"
                  Execute="immediate"
                  BinaryKey="CustomActions"
                  DllEntry="TestConnection" />
	</Product>
  
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="SimpleIdentityServer">
          <Directory Id="API_INSTALLFOLDER" Name="Api"  />
          <Directory Id="SIMPLEIDENTITYSERVER_INSTALLFOLDER" Name="SimpleIdentityServer" />
          <Directory Id="SAMPLES_INSTALLFOLDER" Name="Samples" />
          <Directory Id="WEBSITE_INSTALLFOLDER" Name="Website" />
        </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <ComponentGroupRef Id="ApiHeatGenerated"/>
      <ComponentGroupRef Id="SimpleIdentityServerHeatGenerated"/>
      <ComponentGroupRef Id="SamplesHeatGenerated"/>
      <ComponentGroupRef Id="WebSiteHeatGenerated"/>
		</ComponentGroup>
	</Fragment>

  <Fragment>
    <InstallExecuteSequence>
      <Custom Action="SetForUpdateAppSettings" After="CostFinalize" />
      <Custom Action="UpdateAppSettings" After="InstallFinalize" />
    </InstallExecuteSequence>
  </Fragment>
</Wix>
