<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="SimpleIdentityServerInstaller" Language="1033" Version="1.0.0.0" Manufacturer="Thierry Habart" UpgradeCode="be366706-4993-48cb-bcee-fe1fd43eaa00">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />
		<Feature Id="ProductFeature" Title="SimpleIdentityServerInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
    <Property Id="PROVIDER_TYPE" Value="SimpleIdentityServer" />
    <UIRef Id="WixUI_SimpleIdentityServer" />
    <!-- Check dotnet core -->
    <Property Id="DOTNETCOREVERSION">
      <RegistrySearch Id="DotnetCoreVersion"
                 Root="HKLM"
                 Key="SOFTWARE\dotnet\Setup"
                 Type="raw"
                 Name="Version" />
    </Property>
    <Condition Message="!(loc.DotnetCoreIsRequired)">
      <![CDATA[DOTNETCOREVERSION]]>
    </Condition>
	</Product>
  
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="SimpleIdentityServer">
          <Directory Id="API_INSTALLFOLDER" Name="Api"  />
          <Directory Id="SIMPLEIDENTITYSERVER_INSTALLFOLDER" Name="SimpleIdentityServer" />
          <Directory Id="SAMPLES_INSTALLFOLDER" Name="Samples" />
          <Directory Id="WEBSITE_INSTALLFOLDER" Name="Website" />
        </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <ComponentGroupRef Id="ApiHeatGenerated"/>
      <ComponentGroupRef Id="SimpleIdentityServerHeatGenerated"/>
      <ComponentGroupRef Id="SamplesHeatGenerated"/>
      <ComponentGroupRef Id="WebSiteHeatGenerated"/>
		</ComponentGroup>
	</Fragment>
</Wix>
