<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Bitmaps\bannrbmp.bmp" />
    <UI Id="WixUI_SimpleIdentityServer">
      <UIRef Id="WixUI_Common" />
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Minimal" />
      
      <DialogRef Id="WelcomeDlg" />
      <DialogRef Id="LicenseAgreementDlg" />
      <DialogRef Id="UserExit" />
      <DialogRef Id="FatalError"/>
      <DialogRef Id="ExitDialog" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="ErrorDlg" />
      
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="ChooseProviderDlg">1</Publish>
      <Publish Dialog="ChooseProviderDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
      <Publish Dialog="ChooseProviderDlg" Control="Next" Event="NewDialog" Value="DatabaseDlg">1</Publish>
      <Publish Dialog="DatabaseDlg" Control="Back" Event="NewDialog" Value="ChooseProviderDlg">1</Publish>
      <Publish Dialog="DatabaseDlg" Control="Next" Event="EndDialog" Value="Return">1</Publish>
      
      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      
      <InstallUISequence>
        <Show Dialog="WelcomeDlg" Before="ProgressDlg">1</Show>
      </InstallUISequence>
    </UI>
  </Fragment>
</Wix>